In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Housing.csv')
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [3]:
X=df.drop(columns=['price','mainroad','guestroom','basement','hotwaterheating','airconditioning','prefarea','furnishingstatus'])

In [4]:
y=df['price']

In [6]:
X.head()

   area  bedrooms  bathrooms  stories  parking
0  7420         4          2        3        2
1  8960         4          4        4        3
2  9960         3          2        2        2
3  7500         4          2        2        3
4  7420         4          1        2        2

In [32]:
y.head()

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

In [33]:
#to be explored by students
#from sklearn import preprocessing 
#standardization of data points: It would divide by the standard deviation and substract the mean for each data point.
#stand_x = preprocessing.scale(X)
#stand_y = preprocessing.scale(y)

In [44]:
#print(stand_x)
#print(stand_y)

[[ 1.04672629  1.40341936  1.42181174  1.37821692  1.51769249]
 [ 1.75700953  1.40341936  5.40580863  2.53202371  2.67940935]
 [ 2.21823241  0.04727831  1.42181174  0.22441013  1.51769249]
 ...
 [-0.70592066 -1.30886273 -0.57018671 -0.92939666 -0.80574124]
 [-1.03338891  0.04727831 -0.57018671 -0.92939666 -0.80574124]
 [-0.5998394   0.04727831 -0.57018671  0.22441013 -0.80574124]]
[ 4.56636513e+00  4.00448405e+00  4.00448405e+00  3.98575468e+00
  3.55497918e+00  3.25530927e+00  2.88072189e+00  2.88072189e+00
  2.73088693e+00  2.69342819e+00  2.69342819e+00  2.62974834e+00
  2.43121702e+00  2.39375829e+00  2.39375829e+00  2.31884081e+00
  2.31884081e+00  2.24392333e+00  2.20646459e+00  2.18773522e+00
  2.13154711e+00  2.09408838e+00  2.07535901e+00  2.07535901e+00
  2.03790027e+00  2.01917090e+00  1.97796629e+00  1.94425342e+00
  1.94425342e+00  1.94425342e+00  1.94425342e+00  1.94425342e+00
  1.88806531e+00  1.83187721e+00  1.79441847e+00  1.77351649e+00
  1.75321385e+00  1.71950099e+00  1.71013630e+00  1.68204225e+00
  1.66331288e+00  1.64458351e+00  1.56966604e+00  1.56966604e+00
  1.49474856e+00  1.49474856e+00  1.47601919e+00  1.45728982e+00
  1.43856045e+00  1.41983108e+00  1.41983108e+00  1.41983108e+00
  1.38237234e+00  1.38237234e+00  1.38237234e+00  1.38237234e+00
  1.37862647e+00  1.32618423e+00  1.30745486e+00  1.30745486e+00
  1.26999613e+00  1.23253739e+00  1.23253739e+00  1.21380802e+00
  1.19507865e+00  1.15761991e+00  1.15761991e+00  1.13889054e+00
  1.12016117e+00  1.08270243e+00  1.08270243e+00  1.06397306e+00
  1.04524369e+00  1.02651432e+00  1.00778496e+00  1.00778496e+00
  1.00778496e+00  1.00778496e+00  1.00778496e+00  1.00778496e+00
  9.96547334e-01  9.89055586e-01  9.89055586e-01  9.70326217e-01
  9.32867478e-01  9.32867478e-01  9.32867478e-01  9.14138109e-01
  9.14138109e-01  8.95408740e-01  8.95408740e-01  8.84171118e-01
  8.76679370e-01  8.20491262e-01  8.20491262e-01  8.20491262e-01
  8.20491262e-01  8.20491262e-01  8.16745389e-01  8.01761893e-01
  7.83032524e-01  7.83032524e-01  7.64303154e-01  7.64303154e-01
  7.64303154e-01  7.45573785e-01  7.45573785e-01  7.26844416e-01
  7.17479731e-01  7.08115046e-01  7.08115046e-01  7.08115046e-01
  7.04369173e-01  7.04369173e-01  6.70656308e-01  6.70656308e-01
  6.70656308e-01  6.33197569e-01  6.33197569e-01  6.33197569e-01
  6.33197569e-01  6.33197569e-01  6.33197569e-01  6.33197569e-01
  6.33197569e-01  6.29451695e-01  5.95738831e-01  5.95738831e-01
  5.91992957e-01  5.91992957e-01  5.88247083e-01  5.58280092e-01
  5.58280092e-01  5.58280092e-01  5.54534218e-01  5.39550723e-01
  5.20821353e-01  5.20821353e-01  5.20821353e-01  5.20821353e-01
  5.20821353e-01  4.73997930e-01  4.45903876e-01  4.45903876e-01
  4.45903876e-01  4.45903876e-01  4.45903876e-01  4.45903876e-01
  4.45903876e-01  4.45903876e-01  4.45903876e-01  4.27174507e-01
  4.27174507e-01  4.08445137e-01  4.08445137e-01  4.08445137e-01
  4.04699264e-01  3.89715768e-01  3.89715768e-01  3.70986399e-01
  3.70986399e-01  3.70986399e-01  3.70986399e-01  3.52257029e-01
  3.33527660e-01  3.29781786e-01  2.96068921e-01  2.77339552e-01
  2.58610183e-01  2.58610183e-01  2.58610183e-01  2.58610183e-01
  2.58610183e-01  2.58610183e-01  2.58610183e-01  2.58610183e-01
  2.58610183e-01  2.54864309e-01  2.47372561e-01  2.39880814e-01
  2.39880814e-01  2.39880814e-01  2.02422075e-01  2.02422075e-01
  1.83692706e-01  1.83692706e-01  1.83692706e-01  1.83692706e-01
  1.64963336e-01  1.46233967e-01  1.46233967e-01  1.46233967e-01
  1.46233967e-01  1.42488093e-01  1.27504598e-01  1.08775228e-01
  1.08775228e-01  1.01283481e-01  9.00458590e-02  7.50623635e-02
  7.13164897e-02  7.13164897e-02  7.13164897e-02  7.13164897e-02
  7.13164897e-02  7.13164897e-02  7.13164897e-02  7.13164897e-02
  7.13164897e-02  7.13164897e-02  7.13164897e-02  7.13164897e-02
  6.75706158e-02  6.75706158e-02  5.25871204e-02  3.38577510e-02
  3.38577510e-02  3.38577510e-02  3.38577510e-02  1.51283817e-02
  1.51283817e-02  1.44886277e-04 -3.60098759e-03 -3.60098759e-03
 -3.60098759e-03 -7.34686145e-03 -4.10597262e-02 -4.10597262e-02
 -4.10597262e-02 -4.10597262e-02 -4.10597262e-02 -4.10597262e-02
 -5.97890955e-02 -7.85184649e-02 -7.85184649e-02 -7.85184649e-02
 -7.85184649e-02 -7.85184649e-02 -8.22643387e-02 -9.72478342e-02
 -9.72478342e-02 -1.15977203e-01 -1.15977203e-01 -1.15977203e-01
 -1.15977203e-01 -1.15977203e-01 -1.15977203e-01 -1.15977203e-01
 -1.19723077e-01 -1.19723077e-01 -1.34706573e-01 -1.34706573e-01
 -1.34706573e-01 -1.34706573e-01 -1.53435942e-01 -1.53435942e-01
 -1.53435942e-01 -1.53435942e-01 -1.53435942e-01 -1.57181816e-01
 -1.57181816e-01 -1.57181816e-01 -1.72165311e-01 -1.90894681e-01
 -1.90894681e-01 -1.94640555e-01 -1.94640555e-01 -1.94640555e-01
 -2.05878176e-01 -2.09624050e-01 -2.28353419e-01 -2.28353419e-01
 -2.28353419e-01 -2.28353419e-01 -2.28353419e-01 -2.39591041e-01
 -2.47082789e-01 -2.47082789e-01 -2.62066284e-01 -2.65812158e-01
 -2.65812158e-01 -2.65812158e-01 -2.65812158e-01 -2.65812158e-01
 -2.65812158e-01 -2.84541527e-01 -2.84541527e-01 -3.03270897e-01
 -3.03270897e-01 -3.03270897e-01 -3.03270897e-01 -3.03270897e-01
 -3.03270897e-01 -3.03270897e-01 -3.03270897e-01 -3.03270897e-01
 -3.03270897e-01 -3.03270897e-01 -3.03270897e-01 -3.03270897e-01
 -3.03270897e-01 -3.03270897e-01 -3.03270897e-01 -3.03270897e-01
 -3.07016771e-01 -3.07016771e-01 -3.22000266e-01 -3.22000266e-01
 -3.22000266e-01 -3.40729635e-01 -3.40729635e-01 -3.44475509e-01
 -3.57586068e-01 -3.59459005e-01 -3.59459005e-01 -3.59459005e-01
 -3.78188374e-01 -3.78188374e-01 -3.78188374e-01 -3.78188374e-01
 -3.78188374e-01 -3.96917743e-01 -3.96917743e-01 -3.96917743e-01
 -4.06282428e-01 -4.06282428e-01 -4.15647113e-01 -4.15647113e-01
 -4.15647113e-01 -4.15647113e-01 -4.15647113e-01 -4.53105851e-01
 -4.53105851e-01 -4.53105851e-01 -4.53105851e-01 -4.53105851e-01
 -4.53105851e-01 -4.53105851e-01 -4.71835221e-01 -4.71835221e-01
 -4.90564590e-01 -4.90564590e-01 -4.90564590e-01 -4.90564590e-01
 -4.90564590e-01 -4.90564590e-01 -4.90564590e-01 -4.98056338e-01
 -5.09293959e-01 -5.28023328e-01 -5.28023328e-01 -5.28023328e-01
 -5.28023328e-01 -5.28023328e-01 -5.28023328e-01 -5.31769202e-01
 -5.31769202e-01 -5.31769202e-01 -5.46752698e-01 -5.65482067e-01
 -5.65482067e-01 -5.65482067e-01 -5.65482067e-01 -5.65482067e-01
 -5.69227941e-01 -5.69227941e-01 -5.84211436e-01 -5.84211436e-01
 -5.84211436e-01 -5.84211436e-01 -6.02940806e-01 -6.02940806e-01
 -6.02940806e-01 -6.02940806e-01 -6.02940806e-01 -6.02940806e-01
 -6.02940806e-01 -6.02940806e-01 -6.02940806e-01 -6.06686680e-01
 -6.21670175e-01 -6.21670175e-01 -6.40399544e-01 -6.40399544e-01
 -6.40399544e-01 -6.40399544e-01 -6.59128914e-01 -6.77858283e-01
 -6.77858283e-01 -6.77858283e-01 -6.77858283e-01 -6.77858283e-01
 -6.77858283e-01 -6.77858283e-01 -6.77858283e-01 -6.77858283e-01
 -6.77858283e-01 -6.77858283e-01 -6.77858283e-01 -6.77858283e-01
 -6.77858283e-01 -6.77858283e-01 -6.77858283e-01 -6.77858283e-01
 -6.81604157e-01 -6.96587652e-01 -6.96587652e-01 -6.96587652e-01
 -7.15317022e-01 -7.15317022e-01 -7.15317022e-01 -7.15317022e-01
 -7.15317022e-01 -7.15317022e-01 -7.19062896e-01 -7.34046391e-01
 -7.34046391e-01 -7.34046391e-01 -7.52775760e-01 -7.52775760e-01
 -7.52775760e-01 -7.52775760e-01 -7.52775760e-01 -7.52775760e-01
 -7.52775760e-01 -7.52775760e-01 -7.56521634e-01 -7.67759256e-01
 -7.71505130e-01 -7.71505130e-01 -7.90234499e-01 -7.90234499e-01
 -7.90234499e-01 -7.90234499e-01 -7.90234499e-01 -7.90234499e-01
 -7.90234499e-01 -7.90234499e-01 -8.08963868e-01 -8.08963868e-01
 -8.20201490e-01 -8.27693238e-01 -8.27693238e-01 -8.27693238e-01
 -8.27693238e-01 -8.65151976e-01 -8.65151976e-01 -8.65151976e-01
 -8.65151976e-01 -8.65151976e-01 -8.65151976e-01 -8.65151976e-01
 -8.65151976e-01 -8.65151976e-01 -8.68897850e-01 -8.76389598e-01
 -8.81821115e-01 -8.83881346e-01 -8.83881346e-01 -8.83881346e-01
 -8.98864841e-01 -9.02610715e-01 -9.02610715e-01 -9.02610715e-01
 -9.02610715e-01 -9.21340084e-01 -9.40069453e-01 -9.40069453e-01
 -9.40069453e-01 -9.40069453e-01 -9.40069453e-01 -9.40069453e-01
 -9.40069453e-01 -9.43815327e-01 -9.58798823e-01 -9.66290571e-01
 -9.77528192e-01 -9.77528192e-01 -9.77528192e-01 -9.77528192e-01
 -9.77528192e-01 -9.77528192e-01 -9.77528192e-01 -9.77528192e-01
 -1.01498693e+00 -1.01498693e+00 -1.01498693e+00 -1.01498693e+00
 -1.02435162e+00 -1.03371630e+00 -1.03371630e+00 -1.03371630e+00
 -1.05244567e+00 -1.05244567e+00 -1.08990441e+00 -1.08990441e+00
 -1.10863378e+00 -1.12736315e+00 -1.12736315e+00 -1.12736315e+00
 -1.12736315e+00 -1.12736315e+00 -1.12736315e+00 -1.12736315e+00
 -1.13110902e+00 -1.13110902e+00 -1.15733014e+00 -1.16482189e+00
 -1.16482189e+00 -1.16482189e+00 -1.20228062e+00 -1.20228062e+00
 -1.20228062e+00 -1.22100999e+00 -1.22100999e+00 -1.23973936e+00
 -1.23973936e+00 -1.23973936e+00 -1.23973936e+00 -1.23973936e+00
 -1.23973936e+00 -1.26221461e+00 -1.27719810e+00 -1.27719810e+00
 -1.27719810e+00 -1.29592747e+00 -1.31465684e+00 -1.33338621e+00
 -1.33338621e+00 -1.33338621e+00 -1.35211558e+00 -1.35586145e+00
 -1.40830369e+00 -1.42703306e+00 -1.42703306e+00 -1.42703306e+00
 -1.50195053e+00 -1.53940927e+00 -1.53940927e+00 -1.55813864e+00
 -1.57686801e+00 -1.60514936e+00 -1.61432675e+00 -1.61432675e+00
 -1.61432675e+00]

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [35]:
y_train

46     7525000
93     6300000
335    3920000
412    3430000
471    3010000
        ...
71     6755000
106    6160000
270    4340000
435    3290000
102    6195000
Name: price, Length: 436, dtype: int64

In [36]:
from sklearn.linear_model import LinearRegression

In [37]:
r_model= LinearRegression()
r_model.fit(X_train,y_train)

LinearRegression()

In [38]:
r_model.coef_

array([3.08866956e+02, 1.51246751e+05, 1.18573171e+06, 4.95100763e+05,
       3.37660830e+05])

In [39]:
r_model.intercept_

51999.67680883687

In [40]:
y_predict= r_model.predict(X_test)

In [41]:
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score
rmse = mean_squared_error(y_test,y_predict)
r2 = r2_score(y_test,y_predict)

In [42]:
rmse

2292721545725.3613

In [43]:
r2

0.5464062355495873