Datatype

In [3]:
'''none datatype'''
var=None
if var is None:
  print('it is none')
else:
  print('it is not none')

it is none

#numeric

In [15]:
#numeric
a=5
b=6.5
c= int(b)
f=float(a)
d = complex(a,b)
e=True
print('type of a is')
print(type(a))
print('type of b is')
print(type(b))
print('type of c is')
print(type(c))
print('type of e is')
print(type(e))
print('Value of c is')
print(c)
print('Value of d is')
print(d)
print('Value of f is')
print(f)

type of a is
<class 'int'>
type of b is
<class 'float'>
type of c is
<class 'int'>
type of e is
<class 'bool'>
Value of c is
6
Value of d is
(5+6.5j)
Value of f is
5.0

In [19]:
#list
a=[1,2,3,4]

In [18]:
print(a[1])
print(a[:2])
print(a[2:])
print(a[1:3])
#mutable
a[1]=5
print(a)

2
[1, 2]
[3, 4]
[2, 3]
[1, 5, 3, 4]

In [20]:
#tupple
a=(1,2,3)
print(a[1])
print(a)

2
(1, 2, 3)

In [21]:
#notmutable
a[1]=5

TypeError: 'tuple' object does not support item assignment

In [29]:
# SET
set1 = {1, 2, 3}
set2 = {2, 7, 6}

# Find the union of set1 and set2
union_set = set1 | set2

# Print the union set
print(union_set)


set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the intersection of set1 and set2
intersection_set = set1 & set2

# Print the intersection set
print(intersection_set)

{1, 2, 3, 6, 7}
{3}

In [24]:
fruits1=set(["mango","apple","banana"])
fruits2=set(["mango","apple1","banana2"])
fruit3 = fruits1 | fruits2
print(fruit3)

{'mango', 'banana', 'apple', 'banana2', 'apple1'}

In [28]:
#add in the list
fruits1.add("jack")
print(fruits1)
fruits2.discard("mango")
print(fruits2)

{'mango', 'banana', 'apple', 'jack'}
{'apple1', 'banana2'}

In [30]:
#dictonary in python
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(len(thisdict))
print(thisdict["brand"])
print(type(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
3
Ford
<class 'dict'>

In [32]:
#Strings
a = 'Hello'
b = "world"
print(a)
print(b)
print(len(a))
print(a[0])
print(a.lower())
print(a.upper())

Hello
world
5
H
hello
HELLO

In [37]:
#concatenate
c = a + b
print(c)
#replace
c = a.replace('ello','ey')
print(c)
#slice
d = c[1:5]
print(d)
#split
f = c.split(' ')
print(f)
#join
g=''.join(f)
print(g)
#reverse
print(a[::-1])

Helloworld
Hey
ey
['Hey']
Hey
olleH

In [38]:
#flow control
#if else
var=10
if var==10:
  print('it is equal')
else:
  print('it is not equal')

it is equal

In [39]:
#for loop
arr=[1,2,3,4]
for x in arr:
  print(x)

1
2
3
4

In [40]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [46]:
#while
i=0
while i<6:
  print(i)
  i=i+1

0
1
2
3
4
5

In [47]:
#function
def add(a,b):
  c = a + b
  return c
d = add(5,6)
print(d)

11

In [48]:
#function example 2
#to be done by students

In [52]:
#libraries
import math
from math import pi
r=5
a = r*r*pi
print('area of circle is',a)

area of circle is 78.53981633974483

In [ ]:
##class
#example 1 to be done by students

In [12]:
class ml:
  '''this is doc'''
  var =1
  def printfhello():
    print('hello world')

In [13]:
print(ml.var)

1

In [14]:
print(ml.__doc__)

this is doc

In [15]:
print(ml.printfhello)

<function ml.printfhello at 0x7b04eb6d3640>

#Constructor in python

In [16]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

# Create a new Person object
person = Person("Alice", 25)

# Print the person's name and age
print(person.name)
print(person.age)

Alice
25

#Exception handling

In [59]:
var = 10
try:
  print(var)
except:
  print('var is not defined')
finally:
  print('i am here')

var is not defined
i am here

In [60]:
try:
  print(var10)
except:
  print('var10 is not defined')
finally:
  print('i am here')

var10 is not defined
i am here